<ConfigFile>
	<User name=""/>
	<Resolution x="1366" y="768"/>
	<ScreenSize x="1366" y="768"/>
	<Fullscreen enabled="yes"/>
	<Font red="52" green="73" blue="94" size="30"/>
	<Chars>
		<char name="Demo"/>
	</Chars>
	<Stages>
      <stage name="Stage1"/>
      <stage name="Stage2"/>
      <stage name="Stage3"/>
      <stage name="Stage4"/>
      <stage name="Stage5"/>
	</Stages>
  <Arcade>
    <Path name="Easy">
      <stage name="Stage1"/>
      <stage name="Stage2"/>
      <stage name="Stage3"/>
      <stage name="Stage4"/>
      <stage name="Stage5"/>
    </Path>
    <Path name="Normal">
      <stage name="Stage1"/>
      <stage name="Stage2"/>
      <stage name="Stage3"/>
      <stage name="Stage4"/>
      <stage name="Stage5"/>
    </Path>
  </Arcade>
	<YouLose x="0" y="0" animation_velocity="5">
		<sprite path="misc/you lose/1.png"/>
	</YouLose>
	<YouWin x="0" y="0" animation_velocity="5">
		<sprite path="misc/you win/1.png"/>
	</YouWin>
</ConfigFile>
